.upload_cancle {
    width: 16px;
    height: 16px;
    display: block;
    background: url(../upload/delete.png) no-repeat left top;
    cursor: pointer;
    margin-top: 2px;
    margin-left:20px;
}
.processbar_wrap {
    height: 18px;
    line-height:18px;
    border:1px solid #6593cf;
    margin-left:5px;
    margin-right:5px;
    text-align:center;
    position:relative;
    background:url(../upload/bg.gif) #e0e8f3 repeat-x
}
.processbar {
    float:left;
    height: 18px;
    background:url(../upload/progress-bg.gif) #9cbfee repeat-x left center;
}
.processbar_text {	
    color:#396095;
    font-weight:bold;
}
.processbar_text_f {
    color:#fff;
}