.item-radio-img,.grid-radio,.table-radio{
	width:13px;
	height:13px;
	font-size:0;
    background-image: url(../radio/radio.gif);
}
.item-radio-img {
	float:left;
}
.item-radio-img-u {
	background-position:0px 0px;	
}
.item-radio-img-c {
	background-position:0px -13px;	
}
.item-radio-img-readonly-u {
	background-position:-39px 0px;	
}
.item-radio-img-readonly-c {
	background-position:-39px -13px;	
}

.item-radio-img-u .item-readonly {
    background-position:-39px 0px;  
}

.item-radio-img-c .item-readonly{
    background-position:-39px -13px;
}

.item-radio-lb{	
	text-align:left;
}
.item-radio-option{	
	padding:3px;
}
