.item-grid-wrap {
	background-color: #ffffff;
	border:1px solid #cccccc;/*a4bed4*/
	-moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
    box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
    /*filter: progid:DXImageTransform.Microsoft.Shadow(color='#969696', Direction=180, Strength=4);*/
}
.item-grid {		
	/*position:relative;*/
	background-color:#f8f8f8;
}
.grid-lh, .grid-uh {
	cursor: default;
	-moz-user-select:none;
	width:100%;
	overflow: hidden;
	background: url(../grid/grid_bg.gif) repeat-x; /*../grid/sky_blue_grid.gif*/
	border-bottom:none !important;
	border-bottom:1px solid #cccccc;/*a4bed4*/
}
.grid-rowbox {
	border-right:1px solid #cccccc;
	background: url(../grid/row-box.gif) repeat-y;
}
.grid-rowbox center {
	height:17px;
	padding-top:5px;
}
.grid-uh,.grid-lh{
    position:relative;
    tab-index:1;
    -moz-box-shadow: 0px 2px 6px #aaaaaa;
    -webkit-box-shadow: 0px 2px 6px #aaaaaa;
    box-shadow: 0px 2px 6px #aaaaaa;
    /*filter: progid:DXImageTransform.Microsoft.Shadow(color='#969696', Direction=180, Strength=4);*/
}
.grid-lb table, .grid-lh table,  .grid-uh table, .grid-ub table{
	table-layout:fixed;
}
.grid-hl{
	position:static !important;
	position:absolute;
	
}
.grid-fs{
	FONT-SIZE: 1px;	
	LEFT: 0px;	
	WIDTH: 1px;	
	LINE-HEIGHT: 1px;	
	POSITION: absolute;	
	TOP: 0px;	
	HEIGHT: 1px;	
	moz-user-select: text;	
	khtml-user-select: text;	
	webkit-user-select: ignore;	
	moz-outline: 0 none;
	outline: 0 none
}
.ext-ie6 .grid-hl {
	display:none;
}
.item-grid td div {
	white-space:nowrap;
	overflow:hidden;
}
.grid-hl TH {
	height:0px;
}
.row-alt {
	background-color:#f3f3f3;
}
.grid-la {
	float:left;
	border-right:1px solid #d0d0d0;
}
.grid-ua {
	float:right;
	overflow:hidden;
}
.grid-asc {
    background: url(../grid/sort_asc.gif) no-repeat right;
}
.grid-desc {
    background: url(../grid/sort_desc.gif) no-repeat right;
}
.grid-hc {
	border-right:1px solid #ededed;
	border-bottom:1px solid #ededed;/*a4bed4*/
	/*background: url(../grid/grid_bg.gif) repeat-x;*/
	color: #333;	
	padding:0px;
	text-align:center;
}
.grid-lb{
	cursor: default;
	overflow: hidden;
}
.grid-ub{
	CURSOR: default;
	overflow: auto;
}
.grid-cell{
    padding-right:2px;  
    text-indent:3px;
    line-height:20px;
    height:22px;
    text-overflow:ellipsis
}
.cell-editor {
	border:1px solid #fff;
	margin:0px;
	height:20px;
	background-color:#fff;
}
.row-alt .cell-editor {
    /*border:1px solid #f3f3f3;*/
}
.row-selected .cell-editor {
	border:1px solid #ccc;
}
.grid-ub table {
	border-right:1px solid #ededed;
}
.grid-ub td, .grid-lb td {
	border-right:1px solid #f0f0f0;
	border-bottom:1px solid #f3f3f3;
	padding:1px;
	/**color: #808080;**/
	height:22px;
}
.grid-toolbar {
	border:none;
	border-bottom:1px solid #cccccc;
}

.grid-footerbar {
    overflow: hidden;  
    cursor: default;  
    white-space: nowrap;    
    height: 25px;
    border:none;
    border-top:1px solid #cccccc;
    background: url(../grid/grid_bg.gif) repeat-x;
}
.grid-footerbar td {
    padding:1px;
    padding-left:2px;
    padding-right:2px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    border-right:1px solid #ccc;
    border-left:1px solid #fff;
    height:24px;
}
.grid-navbar {
	border:none;
	border-top:1px solid #cccccc;
}
.grid-sp {
	position:absolute;
	width:2px;
	background-color:#cccccc;
	left:0px;
	top:0px;
	z-index:100000;
}
.row-selected {
	background-color:#dfeaf5;
}
.item-grid .item-notBlank{
    background:#fff9c2;
}
.item-grid .item-invalid{
    background:#FFB9AC;
}