.formViewWrap .title {
    font-size:14px;
    font-weight:bold;
    padding-bottom:3px;
}

.formView {
    font-size:12px;
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border: 1px solid #aaa;
    background-color:#ccc;
}
.formView .label {
    padding:5px;
    font-weight:bold;
}
.formView table {
    border-bottom:1px solid #ccc;
    background-color:#fff;
}
.formView .top {
	-webkit-border-radius: 5px 5px 0px 0px; 
    -moz-border-radius: 5px 5px 0px 0px; 
    
}
.formView .bottom {
    -webkit-border-radius: 0px 0px 5px 5px; 
    -moz-border-radius: 0px 0px 5px 5px; 
    border-bottom:none;
}