<?xml version="1.0" encoding="UTF-8"?>
<data-source-config xmlns="aurora.plugin.c3p0"  driverClass="oracle.jdbc.driver.OracleDriver" url="jdbc:oracle:thin:@192.168.171.128:1521:ora10g" userName="scott" password="tiger"/>

<!--

<data-source-config xmlns="aurora.plugin.c3p0" driverClass="oracle.jdbc.driver.OracleDriver" url="jdbc:oracle:thin:@192.168.11.242:1521:hrms" userName="scott" password="tiger" pool="false" />
-->
