<?xml version="1.0" encoding="UTF-8"?>
<aurora-config>
	<service-initiator xmlns="aurora.database.actions"/>
	<exception-descriptor-config xmlns="aurora.service.exception">
		<exception-descriptor exception="aurora.service.validation.ValidationException" handleClass="aurora.service.exception.ValidationExceptionDescriptor" message="prompt.form.re-input"/>
		<exception-descriptor exception="aurora.service.validation.DatatypeMismatchException" handleClass="aurora.service.exception.FieldExceptionDescriptor" message="validation.datatype.${datatype}"/>
		<exception-descriptor exception="aurora.service.validation.ParameterNullException" handleClass="aurora.service.exception.FieldExceptionDescriptor" message="validation.null"/>
		<!--
		<exception-descriptor exception="java.sql.SQLException" handleClass="aurora.database.SQLExceptionDescriptor">
			<error-message code="942" message="表名不对哦"/>
			<error-message code="1" message="有重复字段"/>
		</exception-descriptor>
		-->
	</exception-descriptor-config>
	<p:presentation-manager xmlns:p="aurora.presentation">
		<packages>
			<p:package-path path="G:\Work\workspace\AuroraUI\src\com\aurora\ui" />
		</packages>
	</p:presentation-manager>	
</aurora-config>
