<?xml version="1.0" encoding="UTF-8"?>
<service-listeners xmlns:l="org.lwap.feature" xmlns:fnd="org.lwap.application.fnd">
	<listeners>		
<!--
	
		<l:sql-executor sequence="on" event="PrepareSession" file="fnd_access_check.data"/>

	
		<l:check-dispatch sequence="on" event="CheckAccess" field="/access-check/@valid" value="N" dispatchUrl="fnd_session_expire.service?url=${/request/@url}"/>

		<l:check-dispatch sequence="on" event="CheckAccess" field="/access-check/result/@CAN_ACCESS" value="1" dispatchUrl="fnd_no_priviledge.service?url=${/request/@url}"/>
	
		<l:check-dispatch sequence="pre" event="CheckAccess" field="/access-check/result/@BANNED" value="1" dispatchUrl="fnd_alert.service?prompt=prompt.ip-banned"/>
		<l:check-dispatch sequence="on" event="CheckAccess" field="/access-check/result/@CAN_ACCESS" value="0" dispatchUrl="fnd_no_priviledge.service"/>
		<l:check-dispatch sequence="on" event="CheckAccess" field="/access-check/result/@SESSION_STATUS" value="1" dispatchUrl="fnd_prv_password_update.service?prompt=prompt.must-change-password"/>
-->
	</listeners>
</service-listeners>
