.item-textField {
	float:left;  
    border:0;  
    height:18px;
    line-height:16px;
    padding-top:2px;
    padding-left:3px;    
    
}
.ext-ie6 .item-textField{
    font-size:12px;
}
.item-notBlank, .item-notBlank .item-textField{
	background:#fff9c2;
}
.item-emptyText .item-textField{
	color:#bbb !important;
}
.item-readOnly, .item-readOnly .item-textField {
	background:#DBDBDB;
}
.item-invalid, .item-invalid .item-textField{
	background:#FFB9AC;
}