HTML {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; COLOR: #333; LINE-HEIGHT: 16px; PADDING-TOP: 0px; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; HEIGHT: 100%; BORDER-RIGHT-WIDTH: 0px
}
BODY {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; COLOR: #333; LINE-HEIGHT: 16px; PADDING-TOP: 0px; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; HEIGHT: 100%; BORDER-RIGHT-WIDTH: 0px
}
A {
	COLOR: #15428b
}
#main {
	MARGIN: 8px; WIDTH: auto
}
#header {
	WIDTH: auto; HEIGHT: 60px
}
#header-inner {
	MARGIN-TOP: 15px; FONT-SIZE: 20px; TEXT-INDENT: 8px; LINE-HEIGHT: 35px; FONT-FAMILY: "Arial Black"
}
#container {
	
}
#container-inner {
	
}
#container-inner TABLE {
	MARGIN-BOTTOM: 8px; WIDTH: 100%; BORDER-COLLAPSE: collapse
}
#container-inner TABLE TR TH {
	FONT-WEIGHT: 400; FONT-SIZE: 12px; COLOR: #333; TEXT-INDENT: 5px; HEIGHT: 15px; BACKGROUND-COLOR: #eee; TEXT-ALIGN: left
}
#container-inner TABLE TR TD {
	FONT-SIZE: 12px; TEXT-INDENT: 5px; LINE-HEIGHT: 20px; HEIGHT: 42px
}
#container-inner TABLE TR TD .type {
	COLOR: #777; FONT-STYLE: italic
}
#container-inner TABLE TR TD .property {
	FONT-WEIGHT: 700; COLOR: #15428b
}
#container-inner TABLE TR TD .property .functionParams {
	FONT-WEIGHT: 400; COLOR: #002ebe; FONT-STYLE: italic
}
#container-inner TABLE TR TD .description {
	MARGIN-LEFT: 10px
}
#container-inner TABLE TR TD .paramDetail {
	BORDER-RIGHT: #cdcdcd 1px solid; BORDER-TOP: #cdcdcd 1px solid; MARGIN: 10px; BORDER-LEFT: #cdcdcd 1px solid; WIDTH: auto; TEXT-INDENT: 0px; LINE-HEIGHT: 20px; BORDER-BOTTOM: #cdcdcd 1px solid; BACKGROUND-COLOR: #f5f5f5
}
#container-inner TABLE TR TD .paramDetail .property {
	FONT-WEIGHT: 400; COLOR: #002ebe
}
#syntax {
	LINE-HEIGHT: 20px
}
#syntax I {
	COLOR: #999
}
#syntax B {
	COLOR: #15428b
}
#syntax .unimportance {
	COLOR: #999
}
#footer {
	COLOR: #888; LINE-HEIGHT: 20px
}
