.item-comboButton {	
	BACKGROUND: url(../base/itembar.gif) no-repeat 2px 0px;
}
.item-comboBox-selected {
	background-color: #dfeaf5;
}
.item-comboBox-view{	
	overflow-x:hidden;	
	overflow-y:auto;
	cursor:pointer;
	white-space:nowrap;	
	background-color: #FFF;
}
.item-comboBox-view li {
	padding:2px;
	height:16px;
	line-height:18px;
}
/*
.item-comboBox-current{
	background-color: #6899ff;
	color:#fff;
}
*/