.listView {
    font-size:12px;
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border: 1px solid #aaa;
    background-color:#fff;
}
.listView TH { 
    font-weight:bold;
    background-color:#e8e8e8;
    border-bottom:1px solid #ccc;
}
.listView .alt {
    background-color:#f8f8f8;
}