.item-toolbar {	
	background-color:#ededed;
	border:1px solid #cccccc;
	overflow: hidden;	
	cursor: default;
	height: 25px;
}
.item-toolbar .item-btn{ 
    background:none;
    border:none;
}
.item-toolbar .item-btn-over{ 
    -webkit-box-shadow:none;
    box-shadow:none;
    background-color: rgb(245, 245, 245);
    background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#f1f1f1));
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
}
.item-toolbar .item-btn-pressed{ 
    -webkit-box-shadow:none;
    box-shadow:none;
    background-color: rgb(245, 245, 245);
    box-shadow:inset 0px 1px 2px #ccc;
    -moz-box-shadow:inset 0px 1px 2px rgba(0,0,0,.1);
    -webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,.1);  
}
.item-toolbar div.sep {
	font-size: 1px;	
	border-left:1px solid #fff;
	border-right:1px solid #ccc;	
	margin-left: 0px;	
	width: 0px;	
	margin-right: 1px;	
	background-repeat: no-repeat;	
	margin-top: 3px;	
	height: 20px;	
	moz-user-select: none
	width:2px;
}
.item-toolbar .item-btn-icon-text div {
	/*padding-left:16px !important;*/
	padding-left:17px;
}
.item-toolbar .item-btn-tl,.item-toolbar .item-btn-tr,.item-toolbar .item-btn-tc,.item-toolbar .item-btn-ml,.item-toolbar .item-btn-mr,.item-toolbar .item-btn-mc,.item-toolbar .item-btn-bl,.item-toolbar .item-btn-br,.item-toolbar .item-btn-bc{
	background-image:none;
}
.nav-label {
	height:20px;
	line-height:20px;
	text-align:center;
}
.simple-navbar{
	font-size: 12px;
	background-image: none;
}
.nav-label a,.nav-label b,.nav-label span{
    margin: 3px;
}
.nav-prepage div, .nav-prepage div, .nav-firstpage div, .nav-lastpage div, .nav-nextpage div, .nav-refresh div{
	background-image:url(../toolbar/navigation.gif);
}
.grid-add div,.grid-delete div,.grid-save div,.grid-clear div,.grid-excel div,.grid-cust div{
	background-image:url(../toolbar/toolbar_btn.gif);
}
.grid-add2 div,.grid-delete2 div,.grid-save2 div,.grid-clear2 div,.grid-excel2 div,.grid-cust2 div{
    background-image:url(../toolbar/toolbar_btn.png);
    background-repeat:no-repeat;
}
.grid-add2 div {
    background-position:0px -25px;
}
.grid-delete2 div {
    background-position:0px -321px;
}
.grid-save2 div {
    background-position:0px 2px;
}
.grid-clear2 div {
    background-position:0px -349px;
}
.grid-excel2 div {
    background-position:0px -1224px;
}
.grid-cust2 div {
    background-position:0px -1196px;
}