.item-toolbar {	
	background-image: url(../toolbar/toolbar_bg.gif);	
	border:1px solid #cccccc;
	overflow: hidden;	
	cursor: default;	
	background-repeat: repeat-x;	
	/*white-space: nowrap;*/
	height: 25px;
}
.item-toolbar div.sep {
	background-position: 50% 50%;
	font-size: 1px;	
	background-image: url(../toolbar/toolbar_sep.gif);		
	margin-left: 0px;	
	width: 2px;	
	margin-right: 1px;	
	background-repeat: no-repeat;	
	top: 1px;	
	height: 25px;	
	moz-user-select: none
	width:2px;
}
.item-toolbar .item-btn button {
	/*
	padding-left:1px;
	padding-right:1px;
	*/
}
.item-toolbar .item-btn-icon div{
	/*padding-left:17px;*/
}
.item-toolbar .item-btn-icon-text div {
	/*padding-left:16px !important;*/
	padding-left:17px;
}
.item-toolbar .item-btn-tl,.item-toolbar .item-btn-tr,.item-toolbar .item-btn-tc,.item-toolbar .item-btn-ml,.item-toolbar .item-btn-mr,.item-toolbar .item-btn-mc,.item-toolbar .item-btn-bl,.item-toolbar .item-btn-br,.item-toolbar .item-btn-bc{
	background-image:none;
}
.item-toolbar .item-btn-over .item-btn-tl,.item-toolbar .item-btn-over .item-btn-tr,.item-toolbar .item-btn-over .item-btn-tc,.item-toolbar .item-btn-over .item-btn-ml,.item-toolbar .item-btn-over .item-btn-mr,.item-toolbar .item-btn-over .item-btn-mc,.item-toolbar .item-btn-over .item-btn-bl,.item-toolbar .item-btn-over .item-btn-br,.item-toolbar .item-btn-over .item-btn-bc{
	background-image:url(../button/btn.gif);
}
.item-toolbar .item-btn-pressed .item-btn-tl,.item-toolbar .item-btn-pressed .item-btn-tr,.item-toolbar .item-btn-pressed .item-btn-tc,.item-toolbar .item-btn-pressed .item-btn-ml,.item-toolbar .item-btn-pressed .item-btn-mr,.item-toolbar .item-btn-pressed .item-btn-mc,.item-toolbar .item-btn-pressed .item-btn-bl,.item-toolbar .item-btn-pressed .item-btn-br,.item-toolbar .item-btn-pressed .item-btn-bc{
	background-image:url(../button/btn.gif);
}
.nav-label {
	height:20px;
	line-height:20px;
	text-align:center;
}
.simple-navbar{
	font-size: 12px;
	background-image: none;
}
.nav-label a,.nav-label b,.nav-label span{
    margin: 3px;
}
.nav-prepage div, .nav-prepage div, .nav-firstpage div, .nav-lastpage div, .nav-nextpage div, .nav-refresh div{
	background-image:url(../toolbar/navigation.gif);
}
.grid-add div,.grid-delete div,.grid-save div,.grid-clear div,.grid-excel div,.grid-cust div,
.table-add div,.table-delete div,.table-save div,.table-clear div,.table-excel div,.table-cust div{
	background-image:url(../toolbar/toolbar_btn.gif);
}
.grid-add2 div,.grid-delete2 div,.grid-save2 div,.grid-clear2 div,.grid-excel2 div,.grid-cust2 div,
.table-add2 div,.table-delete2 div,.table-save2 div,.table-clear2 div,.table-excel2 div,.table-cust2 div{
    background-image:url(../toolbar/toolbar_btn.png);
    background-repeat:no-repeat;
}
.grid-add2 div,.table-add2 div {
    background-position:0px -25px;
}
.grid-delete2 div,.table-delete2 div {
    background-position:0px -321px;
}
.grid-save2 div,.table-save2 div {
    background-position:0px 2px;
}
.grid-clear2 div,.table-clear2 div {
    background-position:0px -349px;
}
.grid-excel2 div,.table-excel2 div {
    background-position:0px -1224px;
}
.grid-cust2 div,.table-cust2 div {
    background-position:0px -1196px;
}