.item-btn button{
	color:#ffffff;
	font-weight:bold;
}
.form_head {
    border-left:none;
    color:#ffffff;
    font-weight:bold;
}
.win-caption-label div {
    color:#ffffff;
    font-weight:bold;    
}
.item-lovButton {   
    BACKGROUND: url(../core/itembar.gif) no-repeat 2px -38px;   
}