.item-btn {
    cursor:pointer;
    white-space: nowrap;
    color:#333;
}
.ext-ie .item-btn button {
    /*width:1px;
    padding-top:2px;*/
}
.ext-gecko .item-btn button{
    padding-top:0;
}
.item-btn td {
    padding:0 !important;
}
.titem-btn .item-btn-ml,.titem-btn .item-btn-mr{
     padding:0 !important;
}
.item-btn button {
    border:0 none;
    background-color:transparent;
    cursor:pointer;
    margin:0px;
    vertical-align: top;
    overflow:visible;
    /*padding-left:3px;
    padding-right:3px;*/
    -moz-outline:0 none;
    outline:0 none;
    width:auto !important;
    width:1px;
    white-space: nowrap;
    text-align:center;
}
.ext-ie6 button{
    font-size:12px;
}
button div {
    left: 0px;
    /*position: relative;*/
    top: 0px;
}
.item-btn em {
    font-style:normal;
    font-weight:normal;
}
.item-btn-tr i, .item-btn-tl i, .item-btn-mr i, .item-btn-ml i, .item-btn-br i, .item-btn-bl i{
    font-size:1px;
    line-height:1px;
    width:3px;
    display:block;
    overflow:hidden;
}
.item-btn-tr i, .item-btn-tl i, .item-btn-br i, .item-btn-bl i{
    height:2px;
}
.item-btn-tl{
    width:3px;
    height:2px;
    background:no-repeat 0 0;
}
.item-btn-tr{
    width:3px;
    height:2px;
    background:no-repeat -3px 0;
}
.item-btn-tc{
    height:2px;
    background:repeat-x 0 -6px;
}

.item-btn-ml{
    width:3px;
    background:no-repeat 0 -24px;
}
.item-btn-mr{
    width:3px;
    background:no-repeat -3px -24px;
}

.item-btn-mc{
    background:repeat-x 0 -1096px;
    vertical-align: middle;
    text-align:center;
    padding:0 5px;
    cursor:pointer;
    white-space:nowrap;
}
.ext-strict .ext-ie6 .item-btn-mc, .ext-strict .ext-ie7 .item-btn-mc {
    height: 100%;
}

.item-btn-bl{
    width:3px;
    height:2px;
    background:no-repeat 0 -4px;
}

.item-btn-br{
    width:3px;
    height:2px;
    background:no-repeat -3px -4px;
}

.item-btn-bc{
    height:2px;
    background:repeat-x 0 -16px;
}
.item-btn-over .item-btn-tl{
    background-position: -6px 0;
}

.item-btn-over .item-btn-tr{
    background-position: -9px 0;
}

.item-btn-over .item-btn-tc{
    background-position: 0 -9px;
}

.item-btn-over .item-btn-ml{
    background-position: -6px -24px;
}

.item-btn-over .item-btn-mr{
    background-position: -9px -24px;
}

.item-btn-over .item-btn-mc{
    background-position: 0 -2168px;
}

.item-btn-over .item-btn-bl{
    background-position: -6px -4px;
}

.item-btn-over .item-btn-br{
    background-position: -9px -4px;
}
.item-btn-over .item-btn-bc{
    background-position: 0 -19px;
}
.item-btn-pressed .item-btn-tl{
    background-position: -12px 0;
}

.item-btn-pressed .item-btn-tr{
    background-position: -15px 0;
}

.item-btn-pressed .item-btn-tc{
    background-position: 0 -12px;
}

.item-btn-pressed .item-btn-ml{
    background-position: -12px -24px;
}

.item-btn-pressed .item-btn-mr{
    background-position: -15px -24px;
}

.item-btn-pressed .item-btn-mc{
    background-position: 0 -3240px;
}

.item-btn-pressed .item-btn-bl{
    background-position: -12px -4px;
}

.item-btn-pressed .item-btn-br{
    background-position: -15px -4px;
}

.item-btn-pressed .item-btn-bc{
    background-position: 0 -22px;
}
.item-btn-icon-text-top div {
    background-position-x: center;
    padding-top:16px;
    background-repeat: no-repeat;
}
.item-btn-icon-text div {
    background-position: 0px;
    padding-left:20px;
    background-repeat: no-repeat;
}
.item-btn-icon div {
    background-position: 1px;
    padding-left:13px;
    background-repeat: no-repeat;
}

.item-btn-tl, .item-btn-tr, .item-btn-tc, .item-btn-ml, .item-btn-mr, .item-btn-mc, .item-btn-bl, .item-btn-br, .item-btn-bc{
    background-image:url(../button/btn.gif);
}
 

.item-rbtn button {
    color:#fff;
}
.item-rbtn .tl,.item-rbtn .tr {
	width:10px;
}
.item-rbtn i{
    font-size:1px;
    line-height:1px;
    width:10px;
    display:block;
    overflow:hidden;
}
.item-rbtn .tm {
    vertical-align: middle;
    text-align:center;
    padding:0 5px;
    cursor:pointer;
    white-space:nowrap;
}
.item-rbtn-blue .tl,.item-rbtn-blue .tm , .item-rbtn-blue .tr{
	background-image:url(../button/rbtn.png);
}
.item-rbtn-red .tl,.item-rbtn-red .tm , .item-rbtn-red .tr{
    background-image:url(../button/rrtn.png);
}
.item-rbtn-green .tl,.item-rbtn-green .tm , .item-rbtn-green .tr{
    background-image:url(../button/rgtn.png);
}
.item-rbtn-gray .tl,.item-rbtn-gray .tm , .item-rbtn-gray .tr{
    background-image:url(../button/rgytn.png);
}
.item-rbtn .tl {
    background-position: 0px 0px;
    background-repeat:no-repeate;
}
.item-rbtn .tm {
	background-position: 0px -75px;
	background-repeat:repeat-x;
}
.item-rbtn .tr {
	background-position: -11px 0px;
	background-repeat:no-repeate;
}


.item-btn-over  .tl {
    background-position: 0px -25px;
}
.item-btn-over .tm {
    background-position: 0px -100px;
}
.item-btn-over .tr {
    background-position: -11px -25px;
}
.item-btn-pressed  .tl {
    background-position: 0px -50px;
}
.item-btn-pressed .tm {
    background-position: 0px -125px;
}
.item-btn-pressed .tr {
    background-position: -11px -50px;
}


.item-rtbtn .rtl,.item-rtbtn .rtr {
    width:6px;
}
.item-rtbtn i{
    font-size:1px;
    line-height:1px;
    width:6px;
    display:block;
    overflow:hidden;
}
.item-rtbtn  {
    font-size:1px;
    line-height:1px;
    height:32px;
}

.item-rtbtn .rtl,.item-rtbtn .rtm , .item-rtbtn .rtr{
    background-image:url(../button/rtbtn.png);
}
.item-rtbtn .rtl {
    background-position: 0px 0px;
    background-repeat:no-repeate;
}
.item-rtbtn .rtm {
	text-align:center;
    background-position: 0px -104px;
    background-repeat:repeat-x;
}
.item-rtbtn .rtr {
    background-position: -6px 0px;
    background-repeat:no-repeate;
}
.item-btn-over  .rtl {
    background-position: 0px -35px;
}
.item-btn-over .rtm {
    background-position: 0px -139px;
}
.item-btn-over .rtr {
    background-position: -6px -35px;
}
.item-btn-pressed  .rtl {
    background-position: 0px -70px;
}
.item-btn-pressed .rtm {
    background-position: 0px -174px;
}
.item-btn-pressed .rtr {
    background-position: -6px -70px;
}



.item-abtn .atl,.item-abtn .atr,.item-abtn i{
    width:9px;
}
.item-abtn i,.item-abtn i{
    font-size:1px;
    line-height:1px;
    width:9px;
    display:block;
    overflow:hidden;
}
.arbtn .atr i,.albtn .atl i{
    font-size:1px;
    line-height:1px;
    width:17px;
    display:block;
    overflow:hidden;
}
.item-abtn  {
    font-size:1px;
    line-height:1px;
    height:32px;
    color:#000;
    text-align:center;
}
.arbtn .atl,.arbtn .atm , .arbtn .atr{
    background-image:url(../button/arbtn.png);
    background-repeat:no-repeate;
}
.albtn .atl,.albtn .atm , .albtn .atr{
    background-image:url(../button/albtn.png);
    background-repeat:no-repeate;
}
.item-abtn .atm {
    background-repeat:repeat-x;
    background-position: 0px -108px;
}
.arbtn .atl, .albtn .atr {
    background-position: 0px -537px;
    background-repeat:no-repeate;
}


.item-btn-over .atl,.item-btn-over .atr{
    background-position: 0px -252px;
}
.item-btn-over .atm {
    background-position: 0px -144px;
}
.item-btn-over .arrow {
    background-position: 0px -36px;
}

.item-btn-pressed .atl, .item-btn-pressed  .atr {
    background-position: 0px -288px;
}
.item-btn-pressed .atm {
    background-position: 0px -180px;
}
.item-btn-pressed .arrow {
    background-position: 0px -72px;
}

.item-rbtn-blue div,.item-rbtn-red div,.item-rbtn-green div {
    color:#fff;
}
.item-rbtn-gray div{
    color:#4f5459;
}
.item-btn-disabled *{
    -webkit-filter:grayscale();
    /*filter:gray;*/
    -moz-opacity:0.9;
    opacity:0.9;
}
.item-btn-disabled div {
	cursor:default !important;
    color:#ccc;
}
