.sendbox {
	border:1px solid #cccccc;
	padding: 10px;
	background-color: #F4F4F4;
	font-size: 13px;
	line-height: 22px;
}
.sendbox-content{
	border:1px dashed #cccccc;
	padding: 10px;
	background-color: #ffffff;
	white-space: pre-wrap;
	*white-space: pre;
	*word-wrap: break-word;
	margin-bottom: 10px;
}