.item-ckb,.grid-ckb,.table-ckb{
	width:13px;
	height:13px;
	font-size:0pt;
    background-image: url(../checkbox/checkbox.gif);
}
.item-ckb {
	float:left;
	margin-top: 4px;
}
.grid-select-all .grid-rowbox .item-ckb-u,.grid-select-all .grid-rowbox .item-ckb-c{
	background-position:0 -13px;
}
.grid-select-all .item-ckb-self .item-ckb-u{
	background-position:0px 0px;
}
.grid-select-all .item-ckb-self .item-ckb-c{
	background-position:0px -13px;
}
.item-ckb-u {
	background-position:0px 0px;	
}

.item-ckb-c {
	background-position:0px -13px;
}

.item-ckb-readonly-u {
	background-position:-39px 0px;	
}

.item-ckb-readonly-c {
	background-position:-39px -13px;
}