.window-wrap {
	border:1px solid #808080; 
	TABLE-LAYOUT: fixed; 
	/**z-index: 40;#c2d5dc;**/ 
	POSITION: absolute; 
}
.win-fs {
	FONT-SIZE: 1px;	
	LEFT: 0px;	
	WIDTH: 1px;	
	LINE-HEIGHT: 1px;	
	POSITION: absolute;	
	TOP: 0px;	
	HEIGHT: 1px;	
	moz-user-select: text;	
	khtml-user-select: text;	
	webkit-user-select: ignore;	
	moz-outline: 0 none;	
	outline: 0 none
}
.window-caption {
	height: 21px;
	border-bottom:1px solid #808080;
	background:url(../toolbar/toolbar_bg.gif) repeat-x;
}
.window-caption-label div {
	width:100%;
	FONT-WEIGHT: bold; 
	padding-left:5px;
	FONT-SIZE: 12px; 
	FLOAT: left; 
	COLOR: #055a78;
	overflow:hidden; 
	HEIGHT: 14px
	
}
.window-caption-button .window-close{
	BACKGROUND-IMAGE: url(../window/btn_close.gif); 
	WIDTH: 17px; 
	CURSOR: pointer; 
	BACKGROUND-REPEAT: no-repeat; 
	HEIGHT: 17px; 
	BACKGROUND-COLOR: transparent;
}
.window-body {
	BACKGROUND-COLOR: #ffffff;
}
.window-content{
	width:100%;
	height:100%;
	overflow:auto;
	position:relative;
	overflow:hidden; 
}
.window-alert {
	padding:10px;
	padding-left:140px;
}
.window-type {
	margin-left:40px;
	overflow-y:auto; 
}
.window-icon {
    margin:10px;
    background-repeat: no-repeat;
}
.window-warning {
	background-image: url(../window/icon-warning.gif); 
}
.window-error { 
	background-image: url(../window/icon-error.gif); 
}
.window-info {
	background-image: url(../window/icon-info.gif); 
}
.window-question {
    background-image: url(../window/icon-question.gif); 
}