.item-ckb,.grid-ckb,.table-ckb{
	width:13px;
	height:13px;
	font-size:0pt;
    background-image: url(../checkbox/checkbox.gif);
}
.item-ckb {
	float:left;
	margin-top: 4px;
	position:relative
}
.item-focus[atype=checkbox]{
	border:none;
}
.item-outline{
	width:100%;
	height:100%;
	position:absolute;
	left:-1px;
	top:-1px;
    border:1px solid blue;
	background:transparent;
    display:none;
    font-size:0;
    line-height:0;
}
.item-focus[atype=checkbox] .item-outline{
	display:block;
}
.grid-select-all .grid-rowbox .item-ckb-u,.grid-select-all .grid-rowbox .item-ckb-c,
.table-select-all .table-rowbox .item-ckb-u,.table-select-all .table-rowbox .item-ckb-c{
	background-position:0 -13px;
}
.grid-select-all .item-ckb-self .item-ckb-u,
.table-select-all .item-ckb-self .item-ckb-u{
	background-position:0px 0px;
}
.grid-select-all .item-ckb-self .item-ckb-c,
.table-select-all .item-ckb-self .item-ckb-c{
	background-position:0px -13px;
}
.item-ckb-u {
	background-position:0px 0px;	
}

.item-ckb-c {
	background-position:0px -13px;
}

.item-ckb-readonly-u {
	background-position:-39px 0px;	
}

.item-ckb-readonly-c {
	background-position:-39px -13px;
}