html, body { margin:0; padding:0;font-size:12px}
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, button, p, blockquote, th, td { margin:0; padding:0; }
fieldset, img { border:0; }
table { border-spacing:0; }
ol, ul { list-style:none; }
address, caption, cite, code, dfn, em, th, var { font-style:normal; font-weight:400; }
strong { font-style:normal; font-weight:700; }
caption, th { text-align:left; }
h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight:400; }
q:before, q:after { content:""; }
abbr, acronym { border:0; }
a { color:#0069ca; text-decoration:none; }
BUTTON {PADDING-RIGHT: 0px;	PADDING-LEFT: 0px;	PADDING-BOTTOM: 0px;	MARGIN: 0px;	PADDING-TOP: 0px}

.item-button1 {
	FONT-SIZE: 12px;	
	BACKGROUND: url(../img/button1.gif) no-repeat;		
	WIDTH: 104px;	
	CURSOR: pointer;	
	COLOR: #555;
	line-height:23px;
	HEIGHT: 25px;	
	BORDER: 0px
}
.item-wrap {
	BORDER: #bababa 1px solid;	
	FLOAT: left;	
	POSITION: relative;
	
	HEIGHT: 20px;
	
}
.item-textField {
	float:left;  
	border:0;  
	height:19px; 
	line-height:16px;
	padding-top:1px;
	padding-left:3px;
	font-family:Tahoma,Geneva,sans-serif; 
	font-size:12px;
}
.item-notBlank, .item-notBlank .item-textField{
	background:#fff9c2;
}
.item-emptyText {
	color:#bbb !important;
}
.item-readOnly, .item-readOnly .item-textField {
	background:#DBDBDB;
}
.item-invalid, .item-invalid .item-textField{
	background:#FFB9AC;
}
.item-label{ 
	display:block; 
	padding-left:5px; 
	padding-right:5px;
	overflow:hidden;
}
.item-lookup {
	BORDER-RIGHT: #bababa 1px solid;	
	BORDER-TOP: #bababa 1px solid;	
	Z-INDEX: 10000;	
	LEFT: 0px;	
	width:100px;
	height:100px;
	FONT: 12px/1.231 Verdana,Arial,SimSun,Helvetica,sans-serif;	
	MARGIN-LEFT: -1px;	
	BORDER-LEFT: #bababa 1px solid;	
	COLOR: #555;	
	BORDER-BOTTOM: #bababa 1px solid;	
	POSITION: absolute;	
	TOP: 22px;	
	BACKGROUND-COLOR: #fff
}
.item-trigger {
	BORDER-TOP-WIDTH: 0px;	
	BORDER-LEFT-WIDTH: 0px;	
	FLOAT: left;	
	BORDER-BOTTOM-WIDTH: 0px;	
	WIDTH: 20px;	
	CURSOR: pointer;	
	HEIGHT: 20px;
	BORDER-RIGHT-WIDTH: 0px
}
.item-dateButton {	
	BACKGROUND: url(../img/datebtn.gif) no-repeat 2px 0px;
}
.item-comboButton {	
	BACKGROUND: url(../img/combobtn.gif) no-repeat 2px 0px;	
}
.item-popup {
	POSITION: absolute;	
	LEFT: 0px;
	TOP: 22px;	
	MARGIN-LEFT: -1px;
	Z-INDEX: 10000;
	BORDER:#bababa 1px solid;
}
.item-dateList {
	
}




.item-dateField {
	font-family:Verdana;
	font-size:12px;
	padding:1px;
	background-color:#fff;
	float:left;
	text-align:center;
	width:100%;
	line-height:1.5em;
}
.item-dateField-head {	
	FONT-WEIGHT: bold;	
	FONT-SIZE: 100%;
	BACKGROUND: url(../img/bgCalendarV2.gif) #305ebc repeat-x;
	COLOR: #fff;	
	LINE-HEIGHT: 17px;	
	HEIGHT: 18px;	
	TEXT-ALIGN: center;
}
.item-dateField a{
	color:#1e5494;
}

.item-dateField table{
	width:100%;
	border:0;
}

.item-dateField table thead{color:#acacac; height:20px;}

.item-dateField table td {
	font-size: 11px;
	padding:1px;
}
.item-dateField-pre{
	BACKGROUND: url(../img/prebtn.gif);
	cursor:pointer;
	float:left;
	padding-right:5px;
	width:17px;
	height:17px;
}
.item-dateField-next{
	BACKGROUND: url(../img/nextbtn.gif);
	cursor:pointer;
	float:right;
	padding-right:5px;
	width:17px;
	height:17px;
}
.item-dateField td.onToday {
	background-color:#FDAB00;
	color:#fff;
}
.item-dateField td.dateover {
	background-color:#039;
	cursor:pointer;
	color:#fff;
}
.item-dateField td.onSelect {
	background-color:#6899FF;
	color:#fff;
}
.item-comboBox-li-selected{
background-color: highlight;
}
.item-comboBox-view{
	overflow-x:hidden;	
	overflow-y:auto;
	cursor:pointer;
	white-space:nowrap;
}
