.item-checkboxgroup-img{
	width:13px;
	height:13px;
	float:left;
	font-size:0pt;
    background-image: url('../checkbox/checkbox.gif');	
	border:0;
	vertical-align:	bottom;
	margin-bottom:0px;
	margin-right:2px;	
}
.item-checkboxgroup-img-u {
	background-position:0px 0px;	
}
.item-checkboxgroup-img-c {
	background-position:0px -13px;	
}
.item-checkboxgroup-img-readonly-u {
	background-position:-39px 0px;	
}
.item-checkboxgroup-img-readonly-c {
	background-position:-39px -13px;	
}
.item-checkboxgroup-lb{	
	text-align:left;
	font-size:12px;	
}
.item-checkboxgroup-option{	
	margin-right:20px;
}
