<?xml version="1.0" encoding="UTF-8"?>
<!--
<data-source-config xmlns="aurora.plugin.c3p0"  driverClass="oracle.jdbc.driver.OracleDriver" url="jdbc:oracle:thin:@192.168.11.244:1522:mastest" userName="mashec" password="mashec"/>
-->

<data-source-config xmlns="aurora.plugin.c3p0" driverClass="oracle.jdbc.driver.OracleDriver" url="jdbc:oracle:thin:@192.168.11.242:1521:hrms" userName="scott" password="tiger" pool="false" />
