<service-logging xmlns="aurora.application.features" logPath="e:/temp" pattern="_${/request/@address}_" append="false">
	<topics>
		<logging-topic name="uncertain.proc" level="CONFIG"/>
		<logging-topic name="aurora.presentation.buildsession" level="CONFIG"/>
		<logging-topic name="aurora.presentation.manager" level="CONFIG"/>
		<logging-topic name="aurora.database" level="CONFIG"/>
	</topics>
</service-logging>
