<?xml version="1.0" encoding="UTF-8"?>
<service trace="true">
	<static-model>
		<employee name="Johnson" address="someplace" deptid="20"/>
		<depts>
			<option name="Sales" value="10"/>
			<option name="Development" value="20"/>
			<option name="Finance" value="30"/>
		</depts>
	</static-model>
	<screen template="default" package="aurora.testcase.ui">
		<template template="employee_form" package="aurora.testcase.ui" datamodel="employee">
			<textedit name="name" datafield="/model/employee/@name"/>
			<textedit name="address" datafield="/model/employee/@address" class="textedit.normal" enabled="false" viewObject="aaa.a.a" onclick="alert('test!');"/>
			<textarea name="memo" rows="7"/>
			<select datasource="/model/depts" name="deptid" displayfield="@name" valuefield="@value" datafield="/model/employee/@deptid">
				<options>
					<record value="0" prompt="All"/>
				</options>
			</select>
		</template>
	</screen>
</service>
