.item-tf-wrap .tl {
    background:url(../textfield/ql.png) no-repeat;
}
.item-tf-wrap .tr {
    background:url(../textfield/qr.png) no-repeat;
}
.item-textField {
    border-width:0px; 
    float:left; 
    height:20px;
    line-height:20px;
    padding:0;
    width:100%;

            
}