.code_table {
  background-color:#f0f0f0;
  border:1px dashed #3c78b5;
  margin:5px;
}
pre code {
  display: block;
  padding:5px;
}
pre .value {
  color: black;
}
pre .comment,
pre .annotation,
pre .template_comment,
pre .diff .header,
pre .chunk {
  color: #888;
}
pre .attribute {
	color:red;
}
pre .tag {
	color:#800;
}
.javascript .keyword {
  font-weight: bold;
  color:#800;
}
.javascript .string {
  color:blue;
}