div .mainDoc {
	margin:10px;
}
.mainDoc p {
	font-size:12px;
	margin-bottom:12px;
}
.src_table {
  background-color:#f0f0f0;
  border:1px dashed #3c78b5;
  margin-bottom:12px;
}
.pro_table {	
	BORDER-COLLAPSE: collapse;
	 margin-bottom:12px;
}
.pro_table td {
	BORDER: #ccc 1px solid;	
	PADDING-RIGHT: 4px;	
	PADDING-LEFT: 4px;	
	PADDING-BOTTOM: 3px;	
	VERTICAL-ALIGN: top;
	PADDING-TOP: 3px;
}
.mainDoc pre {
	TEXT-ALIGN: justify;
	white-space:pre;
}
.mainDoc hr {
	border:1px solid #8080C0;
}
.mainDoc H2{	
	FONT-WEIGHT: 600;	
	FONT-SIZE: 18px;	
	COLOR: #1a5c9a;	
	LINE-HEIGHT: 18px;
}
.mainDoc H3{
	FONT-SIZE: 12px;	
	COLOR: #666666;
}
.mainDoc H1{	
	FONT-WEIGHT: 600;	
	FONT-SIZE: 12px;	
	COLOR: #000;	
	LINE-HEIGHT: 14px;
	margin-bottom:5px;
}